body,
input,
select,
textarea,
option{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}
.headerWrap{
    display: flex;
    height: 83px;
}
.header_logo{
    margin-top: 31px;
}
.nav_bar-flex{
    display: flex;
}
.nav_bar-flex li{
    margin-top: 34px;
    margin-right: 31px;
    font-size: 18px;
    color: rgb(34, 38, 42);
    transition: all 0.2s ease-in-out;
}
.nav_bar-flex li:hover{
    transform:scale(1.1);
    transition: all 0.2s ease-in-out;
}
.nav_bar-flex li:first-child{
    margin-left: 150px;
}
.nav_bar-flex li:last-child{
    margin-right: 145px;
}
.nav_bar-flex li a{
    text-decoration: none;
    color: rgb(34, 38, 42);
}
.nav_bar-icon{
    margin-top: 32px;
}
.intro_image img{
    position: relative;
    width: 100%;
}
.intro_content{
    position: absolute;
    top: 444px;
    margin-left: 700px;
}
.intro_content-tittle h6{
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_content-tittle h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_content-tittle h5{
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_button{
    display: flex;
}
.intro_button h5{
    margin-right: 35px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 24px;
    width: 147px;
    height: 35px;
    color: white;
    background-color: rgb(34, 38, 42);
    transition: all 0.3s ease-in-out;
}
.intro_button:hover .button{
    filter:blur(10px);
}
.intro_button:hover .button:hover{
    filter: blur(0px);
}
.intro_button a{
    text-decoration: none;
}
.catagory_wrapper{
    margin-top: 121px;
    height: 560px;
    margin-bottom: 115px;
}
.cataphoto2{
    margin-top: 22px;
    margin-right: 5px;
}
.cataphoto4{
    height: 575px;
}
.column-6{
    position: relative;
}
.filter_photo{
    transition: all 0.3s ease-in-out;
}
.column-6:hover .filter_photo{
    filter: blur(8px);
}
.column-6:hover .filter_photo:hover{
    filter: blur(0px);
    transform: scale(1.1);
    z-index: 999;
    object-fit: cover;
}
.column-6 h5{
    position: absolute;
    top: 517px;
    left: 32px;
    width: 203px;
    height: 35px;
    padding-top: 7px;
    padding-left: 24px;
    color: rgb(34, 38, 42);
    background-color: white;
    font-size: 18px;
    font-weight: 500;

}
.column-6 img{
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.cataphoto{
    border: 1px solid
}
.column-3 {
    padding: 0 11px;
}
.womens_wrapper{
    max-width: 1138px;
    height: 618px;
    margin-bottom: 120px;
}
.womens_tittle h4{
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
    text-align: center;
}
.womens_tittle p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 70px;
    text-align: center;
}
.women_content{
    margin-top: 43px;
}
.women_content h6{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(34, 38, 42);
}
.women_content p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 15px;
}
.women_content h5{
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.women_content h5::before{
    content: '';
    display: inline-block;
    border: 1px solid;
    color: rgb(34, 38, 42);
    width: 66px;
    position: absolute;
    top: 7px;
}
.women_content h5 span{
    margin-left: 30px;
    color: #CF2929;
}
.column-3 img{
    transition: all 0.3s ease-in-out;
}
.column-3 img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.mens_wrapper{
    margin-bottom: 125px;
    height: 620px;
}
.mens_tittle h4{
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
    text-align: center;
}
.mens_tittle p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 70px;
    text-align: center;
}
.mens_content{
    margin-top: 43px;
}
.mens_content h6{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(34, 38, 42);
}
.mens_content p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 15px;
}
.mens_content h5{
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.mens_content h5::before{
    content: '';
    display: inline-block;
    border: 1px solid;
    color: rgb(34, 38, 42);
    width: 66px;
    position: absolute;
    top: 7px;
}
.mens_content h5 span{
    margin-left: 30px;
    color: #CF2929;
}
.avone_wrapper{
    position: relative;
    height: 817px;
    margin-bottom: 121px;
}
.avone_tittle{
    text-align: center;
    margin-bottom: 60px;
}
.avone_tittle h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.avone_tittle p{
    font-weight: 400;
    font-size: 15px;
    color: rgb(34, 38, 42);
}
.box{
    float: left;
    padding: 0 15px;
    width: 50%;
}   
.avone1{
    margin-top: 150px;
}
.avone3{
    margin-left: 324px;
    padding: 22px 25px 22px 25px;
    background-color: white;
    margin-top: -65px;
}
.box_content a{
    text-decoration: none;
    color: rgb(34, 38, 42);
}
.box_content h5:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.box_content h5:hover::after{
    display: none;
}
.box_content h5{
    position: absolute;
    top: 685px;
    left: 725px;
}
.box_content h5::after{
    content: '';
    position: absolute;
    top: 20px;
    left: -4px;
    width: 168px;
    border: 1px solid;
    border-color: rgb(34, 38, 42);
}
.tachen_section{
    background-image: url(../images/tachen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 745px;
}
.tachen_tittle{
    padding-top: 434px;
}
.tachen_tittle h5{
    font-weight: 500;
    font-size: 18px;
    color: rgb(34, 38, 42);
}
.tachen_tittle h3{
    font-size: 80px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 40px;
    color: rgb(34, 38, 42);
}
.tachen_button a{
    color: white;
    text-decoration: none;
}
.tachen_button h5{
    color: white;
    background-color: rgb(34, 38, 42);
    width: 177px;
    height: 35px;
    padding-top: 11px;
    padding-left: 26px;
    padding-bottom: 11px;
    padding-right: 26px;
    transition: all 0.3s ease-in-out;
}
.tachen_button h5:hover{
    color: rgb(34, 38, 42);
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.main_footer{
    background-color: #F2F8FC;
}
.footer_top{
    display: flex;
    margin-top: 115px;
    margin-bottom: 201px;
}
.footer_logo{
    margin-bottom: 25px;
}
.footer_content{
    width: 406px;
}
.footer_content p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 41px;
}
.footer_address h4{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 20px;
}
.footer_address h4::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/target-footer.svg);
    margin-right: 26px;
}
.footer_address h5{
    position: relative;
    font-weight: 400;
    font-size: 15px;
    color: rgb(34, 38, 42);
    margin-bottom: 20px;
}
.footer_address h5::after{
    content: '';
    position: absolute;
    border: 1px solid;
    border-color: rgb(34, 38, 42);
    width: 237px;
    top: 25px;
    left: 0;
}
.footer_address h6{
    font-weight: 400;
    font-size: 15px;
    color: rgb(34, 38, 42);
    margin-bottom: 20px;
}
.footer_media{
    display: flex;
}
.footer_media li{
    margin-left: 45px;
}
.footer_media li:first-child{
    margin-left: 0;
}
.footer_right{
    margin-left: 200px;
}
.footer_input{
    position: relative;
}
.footer_input h4{
    font-weight: 700;
    font-size: 25px;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.footer_ipt{
    width: 532px;
    height: 45px;
    padding-left: 25px;
    padding-right: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
}
.footer_ipt::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
}
.footer_input h6{
    position: absolute;
    top: 70px;
    left: 480px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 38, 42);
}
.footer_menu{
    display: flex;
    margin-top: 75px;
}
.footer_menu-first{
    margin-right: 88px;
}
.footer_menu-first li a,
.footer_menu-second li a,
.footer_menu-third li a{
    text-decoration: none;
    color: rgb(34, 38, 42);
}
.footer_menu-first h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.footer_menu-first li{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 25px;
}
.footer_menu-first li:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.footer_menu-first li:last-child{
    margin-bottom: 0;
}
.footer_menu-second{
    margin-right: 88px;
}
.footer_menu-second h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.footer_menu-second li{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 25px;
}
.footer_menu-second li:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.footer_menu-second li:last-child{
    margin-bottom: 0;
}
.footer_menu-third h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.footer_menu-third li{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 25px;
}
.footer_menu-third li:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.footer_menu-third li:last-child{
    margin-bottom: 0;
}
.footer_bottom{
    background-color: #E7F5F8;
    height: 93px;
    width: 100%;
}
.footer_bottom-content p{
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;   
    color: rgb(34, 38, 42);
}