body,
input,
select,
textarea,
option{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}
.headerWrap{
    display: flex;
    height: 83px;
}
.header_logo{
    margin-top: 31px;
}
.nav_bar-flex{
    display: flex;
}
.nav_bar-flex li{
    margin-top: 34px;
    margin-right: 31px;
    font-size: 18px;
    color: rgb(34, 38, 42);
    transition: all 0.2s ease-in-out;
}
.nav_bar-flex li:hover{
    transform:scale(1.1);
    transition: all 0.2s ease-in-out;
}
.nav_bar-flex li:first-child{
    margin-left: 150px;
}
.nav_bar-flex li:last-child{
    margin-right: 145px;
}
.nav_bar-flex li a{
    text-decoration: none;
    color: rgb(34, 38, 42);
}
.nav_bar-icon{
    margin-top: 32px;
}
.intro_image img{
    position: relative;
    width: 100%;
}
.intro_content{
    position: absolute;
    top: 444px;
    margin-left: 700px;
}
.intro_content-tittle h6{
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_content-tittle h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_content-tittle h5{
    font-size: 18px;
    font-weight: 500;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
}
.intro_button{
    display: flex;
}
.intro_button h5{
    margin-right: 35px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 24px;
    width: 147px;
    height: 35px;
    color: white;
    background-color: rgb(34, 38, 42);
    transition: all 0.3s ease-in-out;
}
.intro_button:hover .button{
    filter:blur(10px);
}
.intro_button:hover .button:hover{
    filter: blur(0px);
}
.intro_button a{
    text-decoration: none;
}
.catagory_wrapper{
    margin-top: 121px;
    height: 560px;
    margin-bottom: 115px;
}
.cataphoto2{
    margin-top: 22px;
    margin-right: 5px;
}
.cataphoto4{
    height: 575px;
}
.column-6{
    position: relative;
}
.filter_photo{
    transition: all 0.3s ease-in-out;
}
.column-6:hover .filter_photo{
    filter: blur(8px);
}
.column-6:hover .filter_photo:hover{
    filter: blur(0px);
    transform: scale(1.1);
    z-index: 999;
    object-fit: cover;
}
.column-6 h5{
    position: absolute;
    top: 517px;
    left: 32px;
    width: 203px;
    height: 35px;
    padding-top: 7px;
    padding-left: 24px;
    color: rgb(34, 38, 42);
    background-color: white;
    font-size: 18px;
    font-weight: 500;

}
.column-6 img{
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.cataphoto{
    border: 1px solid
}
.column-3 {
    padding: 0 11px;
}
.womens_wrapper{
    max-width: 1138px;
    height: 618px;
    margin-bottom: 120px;
}
.womens_tittle h4{
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
    text-align: center;
}
.womens_tittle p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 70px;
    text-align: center;
}
.women_content{
    margin-top: 43px;
}
.women_content h6{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(34, 38, 42);
}
.women_content p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 15px;
}
.women_content h5{
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.women_content h5::before{
    content: '';
    display: inline-block;
    border: 1px solid;
    color: rgb(34, 38, 42);
    width: 66px;
    position: absolute;
    top: 7px;
}
.women_content h5 span{
    margin-left: 30px;
    color: #CF2929;
}
.column-3 img{
    transition: all 0.3s ease-in-out;
}
.column-3 img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.mens_wrapper{
    margin-bottom: 125px;
    height: 620px;
}
.mens_tittle h4{
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 38, 42);
    margin-bottom: 30px;
    text-align: center;
}
.mens_tittle p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 38, 42);
    margin-bottom: 70px;
    text-align: center;
}
.mens_content{
    margin-top: 43px;
}
.mens_content h6{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(34, 38, 42);
}
.mens_content p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(34, 38, 42);
    margin-bottom: 15px;
}
.mens_content h5{
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.mens_content h5::before{
    content: '';
    display: inline-block;
    border: 1px solid;
    color: rgb(34, 38, 42);
    width: 66px;
    position: absolute;
    top: 7px;
}
.mens_content h5 span{
    margin-left: 30px;
    color: #CF2929;
}